# Download Bicycle Counter Data
# Clean up data and merged with Bicycle Counter file
# Breaks down the one large file into separate files by year

In [ ]:
import numpy as np
import pandas as pd
import dask.dataframe as dd
import warnings
from datetime import datetime
warnings.filterwarnings('ignore')

In [132]:
df = dd.read_csv('Bicycle_Counts.csv',assume_missing=True,dtype={'counts': 'string'})
df2 = dd.read_csv('Bicycle_Counters.csv')
df2 = df2.drop(['id','domain','timezone','interval','counter'], axis = 1)
df = df.drop('id', axis = 1)
df['counts'] = df['counts'].str.replace(',','.').astype(float)
df['counts'] = df['counts'].astype(float)
df['date'] = dd.to_datetime(df['date'])
df['year'] = df['date'].dt.year
df['day'] = df['date'].dt.day
df['month'] = df['date'].dt.month
df = df.merge(df2, how='left', left_on='site', right_on='site')

In [133]:
#df2.compute(scheduler='processes').to_csv("my_one_file.csv", index=False)
df.compute(scheduler='processes')

Dask DataFrame Structure:
                counts            date   status     site   year    day  month    name latitude longitude
npartitions=3
               float64  datetime64[ns]  float64  float64  int64  int64  int64  object  float64   float64
                   ...             ...      ...      ...    ...    ...    ...     ...      ...       ...
                   ...             ...      ...      ...    ...    ...    ...     ...      ...       ...
                   ...             ...      ...      ...    ...    ...    ...     ...      ...       ...
Dask Name: merge, 68 tasks

In [135]:
df2013 = df[df['year'] == 2013]
df2014 = df[df['year'] == 2014]
df2015 = df[df['year'] == 2015]
df2016 = df[df['year'] == 2016]
df2017 = df[df['year'] == 2017]
df2018 = df[df['year'] == 2018]
df2019 = df[df['year'] == 2019]
df2020 = df[df['year'] == 2020]
df2021 = df[df['year'] == 2021]

In [136]:
df2013.compute(scheduler='processes').to_csv("Data/2013Data.csv", index=False)
df2014.compute(scheduler='processes').to_csv("Data/2014Data.csv", index=False)
df2015.compute(scheduler='processes').to_csv("Data/2015Data.csv", index=False)
df2016.compute(scheduler='processes').to_csv("Data/2016Data.csv", index=False)
df2017.compute(scheduler='processes').to_csv("Data/2017Data.csv", index=False)
df2018.compute(scheduler='processes').to_csv("Data/2018Data.csv", index=False)
df2019.compute(scheduler='processes').to_csv("Data/2019Data.csv", index=False)
df2020.compute(scheduler='processes').to_csv("Data/2020Data.csv", index=False)
df2021.compute(scheduler='processes').to_csv("Data/2021Data.csv", index=False)